html,body {
	margin:0;
	padding:0;
	font-size:14px;
	font-family: monospace;
	color:#000;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

form {
    padding: 20px;
    margin: 10px;
}

textarea {
    width: 540px;
    height: 270px;
}

#term {
    padding: 10px 20px;
}
.submit {
    color: white;
    padding: 10px 30px;
    background-color: #3fadad;
    text-decoration: none;
    display: block;
    border: none;
    margin-top: 10px;
}
div.fasta_query p:nth-child(2) {
    color: #444444;
    letter-spacing: 0.1em;
    text-align: justify;
    word-break: break-all;
    white-space: normal;
    background-color: #fbedd8;
    padding: 5px 10px;
}

table {
    margin-bottom: 50px !important;
}

table, th, td {
  border: 1px solid;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 10px 0;
}
th {
    font-size: 16px;
}
th, td {
    padding: 5px 17px;;
}
h2 {
    margin: 50px 0 10px;
    font-size: 26px;
}

ul.frames {
    list-style-type: none;
    width: 700px;
    padding-left: 0;
}
ul.frames li p:first-child {
    font-weight: bold;
}
p.frame_aa_seq {
    color: grey;
    letter-spacing: 0.1em;
    text-align: justify;
    word-break: break-all;
    white-space: normal;
    background-color: #d8ebfb;
    padding: 5px 10px;
}
p.frame_aa_seq span {
    color: #2700ff;
}
p.frame_aa_seq span.longest {
    color: red;
    font-weight: bold;
}
a.button {
    color: white;
    padding: 10px 30px;
    background-color: #3fadad;
    text-decoration: none;
    display: inline-block;
}
header {
    border-bottom: 3px solid #646666;
    height: 45px;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #dbdbdb;
}
footer {
    border-top: 3px solid #646666;
    height: 45px;
    padding: 10px 20px;
    margin-top:auto;
    background-color: #dbdbdb;
}
footer div {
    text-align: center;
}
header div {
    width: 50px;
    font-weight: bold;
    font-size: 24px;
}
header p {
    padding: 0;
    margin: 0;
    font-size: 13px;
}
section {
    padding: 0 20px;
}
td.error {
    border-color: black;
}
.error {
    color: red;
}
.waiting {
  animation: loader 2s linear infinite;
}

@keyframes loader {
  50% { opacity: 0; }
}
table ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
